@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-light-brown: hsl(14, 45%, 36%);
  --clr-light-purple: hsl(332, 51%, 32%);
  --clr-rose-white: hsl(330, 100%, 95%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-charcoal: hsl(24, 5%, 18%);
  font-family: "outfit", serif;
  line-height: 1.5;
}

body {
  min-height: 100dvh;
  background-color: var(--clr-rose-white);
}
img {
  display: block;
  width: 100%;
  border-radius: 1rem;
}
h1,
h2 {
  font-family: "Young Serif", serif;
  padding-block: 1rem;
}
h1 {
  color: var(--clr-light-charcoal);
}
h2 {
  color: var(--clr-light-brown);
}

h1 {
  font-size: calc(1.3rem + 1.2vw);
  font-weight: 700;
}
span {
  font-weight: bold;
}
ul,
ol {
  padding: 0 2rem;
}
li {
  padding: 0.5rem 1rem;
}

main {
  
  background-color: var(--clr-white);
  margin-inline: auto;
  margin-block: 8rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 700px;
  padding-top: 1.5rem;
}

.hero-image,
.content {
  padding: 0rem 1.5rem ;
}

section {
  padding-block: 1rem;
}

.pep-time {
  padding-inline: 1rem;
  background-color: hsl(330, 100%, 98%);
}
.pep-time h2 {
  color: var(--clr-light-purple);
  font-family: "outfit", serif;
}

table {
  /* background-color: red; */
  width: 100%;
}
table {
  border-spacing: 0px;
}
table td {
  height: 7vh;
  padding-left: 2rem;
  /* background-color: yellow; */
}

table td:not(.last){
     border-bottom: 1px solid gray;
}

table td:last-child{
    font-weight: bold;
    color:var(--clr-light-brown);
}
.ingredients,.instruction{
    border-bottom: 1px solid gray;
}

@media (width <500px) {
  main {
    margin-block: 0rem;
    padding-top: 0rem;
  }
  .hero-image {
    padding: 0rem;
  }
  .hero-image img {
    border-radius: 0rem;
  }
}
